<configuration>

    <!-- Include properties based on environment -->
    <property name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}" /> <!-- Default to INFO if not set -->

    <!-- Console appender for all logs -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File appender for all logs with hourly rotation -->
    <appender name="FILE_ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/all.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Hourly rollover -->
            <fileNamePattern>logs/all.%d{yyyy-MM-dd_HH}.log</fileNamePattern>
            <!-- keep 168 hours' worth of history -->
            <maxHistory>168</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File appender for error logs with hourly rotation -->
    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Hourly rollover -->
            <fileNamePattern>logs/error.%d{yyyy-MM-dd_HH}.log</fileNamePattern>
            <!-- keep 168 hours' worth of history -->
            <maxHistory>168</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- Suppress Netty logs -->
    <logger name="io.netty" level="WARN" />
    <!-- Suppress IoTDB logs -->
    <logger name="org.apache.iotdb.session.SessionConnection" level="ERROR" />
    <logger name="org.apache.iotdb.session.pool.SessionPool" level="ERROR" />
    <!-- Set your application's base package to DEBUG -->
    <logger name="org.kreps.redistoiotdb" level="DEBUG" />

    <!-- Your application logs -->
    <logger name="org.kreps.redistoiotdb" level="${LOG_LEVEL}" />

    <!-- Root logger configuration -->
    <root level="WARN">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE_ALL" />
        <appender-ref ref="FILE_ERROR" />
    </root>

</configuration>